<div id="AddToCartForm">
  <form 
    action="/cart/add" 
    method="post" 
    enctype="multipart/form-data" 
    >
      <select name="id" id="productSelect">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option value="{{ variant.id }}">
              {{ variant.title }} - {{ variant.price | money_with_currency }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {{ current_variant.price | money }}
      <label for="Quantity">quantity</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
      <button @click="onAddToCart" type="submit" name="add" id="AddToCart">Add to cart</button>
  </form>

  ${getProduct}

</div>

<script type='text/javascript'>
  $(document).ready(function() {

    const { createApp } = Vue
    const {  
      mapActions, 
      mapGetters 
    } = Vuex;

    createApp({
      delimiters: ['${', '}'],
      data: () => ({
        header: "Cabeçalho"
      }),
      methods: {
        ...mapActions([
          "setProduct",
          "addProductToCart",
        ]),
        onAddToCart(event) {
          event.preventDefault();
          this.addProductToCart({
            variant_id: this.getProduct.variants[0].id,
            quantity: 1,
          })
        }
        // addToCart(event) {
        //   event.preventDefault();
          
        //   axios.post(
        //     '/cart/add.js',
        //     data
        //   )
        //   .then((response) => {
        //     console.log("addToCart - response", response)
        //   })
        //   .catch((error) => {
        //     console.error(error)
        //   })
        // },
      },
      computed: {
        ...mapGetters([
          "getHeader",
          "getProduct",
        ])
      },
      created() {
        this.setProduct("{{ product.handle }}")
        // axios.get(
        //   '/products/{{ product.handle }}.js'
        // )
        // .then((response) => {
        //   console.log("created - response", response.data)
        //   this.productData = response.data;
        // })
        // .catch((error) => {
        //   console.error(error)
        // })
      },
    })
    .use(store)
    .mount("#AddToCartForm")

  });
</script>