<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- AxiosJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ./AxiosJS -->

  <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
  <!-- ./JQuery -->

  <!-- VueJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.33/vue.global.min.js" integrity="sha512-nswZG83l1MggaGEAe/zLIbsVpZJUyqv+yg40f2CNp9QH5AOtOsjS4PSdWRDEr/v+R6YPhNJ1gvhDEJDOqh5qxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ./VueJS -->

  <!-- Vuex -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/4.0.2/vuex.global.min.js" integrity="sha512-GKLeb1CRVJqg4JTEdoUOdWXPHV/7+Uk24/f7Su++SRyrXvz9/FVt178ZpHa6qWL67HPIjEXNjdsj3+vZSPpdFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ./Vuex -->
  
  <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- ./Materialize -->
  
  <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- ./Swiper -->

  {{ 'utils.js' | asset_url | script_tag }}
  {{ 'vuex-store.js' | asset_url | script_tag }}

  <!-- Components -->
  <!-- {{ 'components.js' | asset_url | script_tag }} -->

  <!-- Components Pieces -->
  {{ 'component-button-cart.js' | asset_url | script_tag }}

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }} <!-- Header hook for plugins -->
  <!-- {{ 'application.css' | asset_url | stylesheet_tag }} -->

  <style>
    .flex {
      display: flex;
    }
    .f-column {
      flex-direction: column;
    }
    .f-row {
      flex-direction: row;
    }
    .f-justify-center {
      justify-content: center;
    }
    .f-align-center {
      align-content: center;
    }

    .red { background-color: red; }
    .green { background-color: green; }
    .white { background-color: white; }
    .blue { background-color: blue; }
    .purple { background-color: purple; }
    .brown { background-color: brown; }
    .yellow { background-color: yellow; }
    .black { background-color: black; }
    .h-200 { height: 200px !important; }
    .h-400 { height: 400px !important; }
    .h-600 { height: 600px !important; }
    .h-800 { height: 800px !important; }
    .h-1000 { height: 1000px !important; }
    .h-1500 { height: 1500px !important; }
    .h-2000 { height: 2000px !important; }
    .w-100 { width: 100px !important; }
    .w-200 { width: 200px !important; }
    .w-300 { width: 300px !important; }
    .w-400 { width: 400px !important; }
    .w-600 { width: 600px !important; }
    .w-800 { width: 800px !important; }
    .w-1000 { width: 1000px !important; }
    .w-1500 { width: 1500px !important; }
    .w-2000 { width: 2000px !important; }
  </style>
</head>
<body>
  
  {% section 'header' %}

  <div id="scroll-content">
    <main role="main">
      {{ content_for_layout }}
    </main>
  
    {% section 'footer' %}
  </div>

  <div class="container-scroll-to-top">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_upward</i></a>
  </div>

  <script type='text/javascript'>
    $(document).ready(function() {

      let scrollEl = document.querySelector('#scroll-content');
      let $scrollContent = $('#scroll-content');
      // console.log("scrollEl", scrollEl)

      // Adicionando o evento de clique no botão de subir ao topo
      $('.container-scroll-to-top a').click(
        function (e) {
          $scrollContent.off('scroll')
          scrollTo(0)
          $scrollContent.scroll(
            function (e) {
              if (scrollEl.scrollTop < 300) {
                $scrollToTopButton.css("display", 'none')
              } else {
                $scrollToTopButton.css("display", 'flex')
              }
            }
          )
        }
      )

      // Adicionando o evento de scroll para aparecer o botão de subir ao topo
      let $scrollToTopButton = $('.container-scroll-to-top')
      if (scrollEl.scrollTop < 300) {
        $scrollToTopButton.css("display", 'none')
      } else {
        $scrollToTopButton.css("display", 'flex')
      }
      $scrollContent.scroll(
        function (e) {
          if (scrollEl.scrollTop < 300) {
            $scrollToTopButton.css("display", 'none')
          } else {
            $scrollToTopButton.css("display", 'flex')
          }
         }
      )

    });
  </script>
</body>
</html>
